@font-face {
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-family: "Poppins";
}

html {
  font-family: "Poppins";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 90vh;
}

button {
  font-family: "Poppins";
}

input {
  font-family: "Poppins";
}