.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*.class::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: goldenrod;
  z-index: -1;
  top: 0%;
  left: 0;
  animation: topUp 3s linear infinite backwards;
  transform: translateX(-150%);
  filter: blur(60px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}


@keyframes topUp {
  0%{
    transform: translateX(10%) rotate(360deg);
    opacity: 0.1;
  }
  50%{
    transform: translateX(-20%) rotate(360deg);
    opacity: 0.2;
  }
  100%{
    transform: translateX(10%) rotate(360deg);
    opacity: 0.1;
  }
}

*/

.class {
  background: #101618;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s all !important;
  box-shadow: 1px 30px 60px black;
  z-index: 5;
  width: 80vw;
  gap: 15px;
}

@keyframes faded {
  0%{
    opacity: 0.8;
  }
}

.bolder-class {
  background: #939ba0;
  padding: 1px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bolder-class::before {
  align-self: center;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #caa531;
  box-shadow: 10px 10px 60px #caa531;
  z-index: -1;
  animation: fade 2s linear infinite;
  filter: blur(10px);
}

@keyframes fade {
  0%{
    background: #caa531;
  }
  50%{
    background: lightblue;
  }
  100%{
    background: #caa531;
  }
}


/* Response From Css ✓ TechJs ✓;*/
.top-nav-button {
  display: flex;
  justify-content: space-between;
  width: 96%;
}

.top-nav-button .button-class {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.button-class button {
  width: 100%;
  padding: 6px;
  border: none;
  background: #101618;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.4s all;
  color: gray;
}

.button-class button:active {
  background: transparent;
  color: #caa531;
  outline: none;
}

.button-class button:hover {
  background: #b49437;
}

.active-btn {
  background: transparent !important;
  color: #caa531 !important;
  outline: none !important;
}

.input-class {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  width: 95%;
}


/* Response From Css  ✓ TechJs ✓; */
.bottom-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bottom-input input {
  width: 100% !important;
}


.des-class {
  width: 95%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  gap: 5px;
  color: #caa531;
}


.search-btn-class {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 70%;
  align-self: center;
}

.search-btn-class .button {
  border: none;
  background: #caa531;
  padding: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.button span,
.button .arrow-icon {
  z-index: 2;
  margin-left: 5px;
}

.button .arrow-icon {
  animation: showOff 0.2s;
  font-size: 24px;
  display: none;
  position: absolute !important;
  left: 65% !important;
  top: 10% !important;
  background: transparent;
}

.button span {
  transition: 0.2s all;
  text-align: center;
}

@keyframes showOff {
  0% {
    transform: translateX(-10px);
  }
}

.search-btn-class .button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: black;
  border-radius: 5px;
  z-index: 1;
  transition: 0.2s all;
}

.search-btn-class .button:hover>.arrow-icon {
  display: block;
  color: white;
}

.search-btn-class .button:hover>span {
  display: block;
  color: white;
}


.search-btn-class .button:hover:before {
  width: 100%;
}

.review-box-class {
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6.8px;
  align-self: center;
}


.review-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.review-box-class {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.review-box-class img {
  width: 80vw;
  align-self: center;
}


@media screen and (min-width: 750px) {
  .class {
    width: 40vw;
  }
  
  .review-box-class {
    margin-top: -8px;
  }
  
  .review-box-class img {
    width: 40vw;
    align-self: center;
  }
}

@media screen and (min-width: 1280px) {
  .class {
    width: 35vw;
  }
  
  .review-box-class {
    margin-top: -9px;
  }
  
  .review-box-class img {
    width: 35vw;
    align-self: center;
  }
  
}

@media screen and (min-width: 1480px) {
  .class {
    width: 30vw;
  }
  
  .review-box-class {
    margin-top: -10px;
  }
  
  .review-box-class {
    margin-top: ;
  }
  
  .review-box-class img {
    width: 30vw;
    align-self: center;
  }
}


@media screen and (min-width: 1980px) {
  .class {
    width: 20vw;
  }
  
  .review-box-class {
    margin-top: -11px;
  }
  
  .review-box-class img {
    width: 20vw;
    align-self: center;
  }
}

@media screen and (min-width: 5080px) {
  .class {
    width: 10vw;
  }
  
  .review-box-class {
    margin-top: -12px;
  }
  
  .review-box-class img {
    width: 10vw;
    align-self: center;
  }
}


.class {
  max-width: 400px;
}