.class-input {
  display: flex;
  align-items: center;
  justify-content: ;
  position: relative;
  outline: 1px solid #FFD700;
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  transition: 0.3s all;
  width: 96%;
  align-self: center;
}

.focus-class {
  outline: 1px solid #FFD700 !important;
}



.input {
  padding: 5px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #FFD700;
}

.class-input label {
  position: absolute;
  left: 30px;
  top: 7px;
  font-size: 14px;
  transition: all 0.2s;
  background: #101618;
  padding-left: 3px;
  padding-right: 3px;
  color: #FFD700;
}

.class-input:hover> label {
  top: -12px;
  left: 20px;
  font-size: 13px;
  color: #FFD700;
}


.class-input input:focus> label {
    top: -12px;
  left: 20px;
  font-size: 13px;
  color: #FFD700;
}



.value-put {
  top: -12px !important;
  left: 20px !important;
  font-size: 13px !important;
}

.after-input {
  position: absolute;
  right: 0;
  margin: 15px;
  font-size: 10px;
  background: transparent;
  border: 1px solid #FFD700;
  padding: 5px;
  border-radius: 10px;
  color: #FFD700;
}


.animate {
  animation: showInput 0.3s !important;
}

@keyframes showInput {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
}


.small-input {
  width: 50%;
}


.small-input>label {
  display: none;
}


